--
-- PostgreSQL database dump
--

\restrict tQTEHDeVXOhoFWCpOM1HZCl1HH54WYq9weVWtMwhDWObqDCJZxo17EAu2MjKD2j

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO repara_user;

--
-- Name: cash_accounts; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.cash_accounts (
    id integer NOT NULL,
    name character varying NOT NULL,
    account_type character varying NOT NULL,
    location_id integer NOT NULL
);


ALTER TABLE public.cash_accounts OWNER TO repara_user;

--
-- Name: cash_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.cash_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cash_accounts_id_seq OWNER TO repara_user;

--
-- Name: cash_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.cash_accounts_id_seq OWNED BY public.cash_accounts.id;


--
-- Name: cash_transactions; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.cash_transactions (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    amount double precision NOT NULL,
    description character varying NOT NULL,
    user_id integer NOT NULL,
    account_id integer NOT NULL
);


ALTER TABLE public.cash_transactions OWNER TO repara_user;

--
-- Name: cash_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.cash_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cash_transactions_id_seq OWNER TO repara_user;

--
-- Name: cash_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.cash_transactions_id_seq OWNED BY public.cash_transactions.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying
);


ALTER TABLE public.categories OWNER TO repara_user;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO repara_user;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: inventory_movements; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.inventory_movements (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    quantity_change integer NOT NULL,
    movement_type character varying NOT NULL,
    reference_id character varying,
    user_id integer NOT NULL,
    product_id integer NOT NULL,
    location_id integer NOT NULL
);


ALTER TABLE public.inventory_movements OWNER TO repara_user;

--
-- Name: inventory_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.inventory_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_movements_id_seq OWNER TO repara_user;

--
-- Name: inventory_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.inventory_movements_id_seq OWNED BY public.inventory_movements.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    parent_id integer
);


ALTER TABLE public.locations OWNER TO repara_user;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locations_id_seq OWNER TO repara_user;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: lost_sale_logs; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.lost_sale_logs (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    product_name character varying NOT NULL,
    reason character varying NOT NULL,
    location_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.lost_sale_logs OWNER TO repara_user;

--
-- Name: lost_sale_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.lost_sale_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.lost_sale_logs_id_seq OWNER TO repara_user;

--
-- Name: lost_sale_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.lost_sale_logs_id_seq OWNED BY public.lost_sale_logs.id;


--
-- Name: product_images; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.product_images (
    id integer NOT NULL,
    image_url character varying NOT NULL,
    product_id integer NOT NULL
);


ALTER TABLE public.product_images OWNER TO repara_user;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.product_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_images_id_seq OWNER TO repara_user;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.product_images_id_seq OWNED BY public.product_images.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.products (
    id integer NOT NULL,
    sku character varying NOT NULL,
    name character varying NOT NULL,
    description character varying,
    price_1 double precision,
    price_2 double precision,
    price_3 double precision,
    is_active boolean,
    category_id integer
);


ALTER TABLE public.products OWNER TO repara_user;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO repara_user;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: purchase_invoice_items; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.purchase_invoice_items (
    id integer NOT NULL,
    quantity integer NOT NULL,
    cost_per_unit double precision NOT NULL,
    invoice_id integer NOT NULL,
    product_id integer NOT NULL
);


ALTER TABLE public.purchase_invoice_items OWNER TO repara_user;

--
-- Name: purchase_invoice_items_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.purchase_invoice_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_invoice_items_id_seq OWNER TO repara_user;

--
-- Name: purchase_invoice_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.purchase_invoice_items_id_seq OWNED BY public.purchase_invoice_items.id;


--
-- Name: purchase_invoices; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.purchase_invoices (
    id integer NOT NULL,
    invoice_number character varying NOT NULL,
    invoice_date timestamp with time zone NOT NULL,
    total_cost double precision NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    supplier_id integer NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.purchase_invoices OWNER TO repara_user;

--
-- Name: purchase_invoices_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.purchase_invoices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_invoices_id_seq OWNER TO repara_user;

--
-- Name: purchase_invoices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.purchase_invoices_id_seq OWNED BY public.purchase_invoices.id;


--
-- Name: sale_items; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.sale_items (
    id integer NOT NULL,
    description character varying NOT NULL,
    quantity integer NOT NULL,
    unit_price double precision NOT NULL,
    line_total double precision NOT NULL,
    sale_id integer NOT NULL,
    product_id integer
);


ALTER TABLE public.sale_items OWNER TO repara_user;

--
-- Name: sale_items_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.sale_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sale_items_id_seq OWNER TO repara_user;

--
-- Name: sale_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.sale_items_id_seq OWNED BY public.sale_items.id;


--
-- Name: sales; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.sales (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    total_amount double precision NOT NULL,
    payment_method character varying NOT NULL,
    user_id integer NOT NULL,
    location_id integer NOT NULL,
    work_order_id integer,
    payment_method_details json
);


ALTER TABLE public.sales OWNER TO repara_user;

--
-- Name: sales_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.sales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sales_id_seq OWNER TO repara_user;

--
-- Name: sales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.sales_id_seq OWNED BY public.sales.id;


--
-- Name: shifts; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.shifts (
    id integer NOT NULL,
    start_time timestamp with time zone DEFAULT now(),
    end_time timestamp with time zone,
    user_id integer NOT NULL,
    location_id integer NOT NULL
);


ALTER TABLE public.shifts OWNER TO repara_user;

--
-- Name: shifts_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.shifts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.shifts_id_seq OWNER TO repara_user;

--
-- Name: shifts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.shifts_id_seq OWNED BY public.shifts.id;


--
-- Name: stock; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.stock (
    id integer NOT NULL,
    quantity integer NOT NULL,
    product_id integer NOT NULL,
    location_id integer NOT NULL
);


ALTER TABLE public.stock OWNER TO repara_user;

--
-- Name: stock_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.stock_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stock_id_seq OWNER TO repara_user;

--
-- Name: stock_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.stock_id_seq OWNED BY public.stock.id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.suppliers (
    id integer NOT NULL,
    name character varying NOT NULL,
    contact_person character varying,
    email character varying,
    phone character varying
);


ALTER TABLE public.suppliers OWNER TO repara_user;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.suppliers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suppliers_id_seq OWNER TO repara_user;

--
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    hashed_pin character varying,
    role character varying NOT NULL,
    is_active boolean
);


ALTER TABLE public.users OWNER TO repara_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO repara_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: work_order_images; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.work_order_images (
    id integer NOT NULL,
    image_url character varying NOT NULL,
    tag character varying NOT NULL,
    work_order_id integer NOT NULL
);


ALTER TABLE public.work_order_images OWNER TO repara_user;

--
-- Name: work_order_images_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.work_order_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_order_images_id_seq OWNER TO repara_user;

--
-- Name: work_order_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.work_order_images_id_seq OWNED BY public.work_order_images.id;


--
-- Name: work_order_notes; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.work_order_notes (
    id integer NOT NULL,
    "timestamp" timestamp with time zone DEFAULT now(),
    note character varying NOT NULL,
    user_id integer NOT NULL,
    work_order_id integer NOT NULL
);


ALTER TABLE public.work_order_notes OWNER TO repara_user;

--
-- Name: work_order_notes_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.work_order_notes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_order_notes_id_seq OWNER TO repara_user;

--
-- Name: work_order_notes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.work_order_notes_id_seq OWNED BY public.work_order_notes.id;


--
-- Name: work_orders; Type: TABLE; Schema: public; Owner: repara_user
--

CREATE TABLE public.work_orders (
    id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    status character varying NOT NULL,
    customer_name character varying NOT NULL,
    customer_id_card character varying NOT NULL,
    customer_phone character varying NOT NULL,
    customer_address character varying,
    device_type character varying NOT NULL,
    device_brand character varying NOT NULL,
    device_model character varying NOT NULL,
    device_serial character varying,
    reported_issue character varying NOT NULL,
    estimated_cost double precision NOT NULL,
    deposit_amount double precision NOT NULL,
    final_cost double precision,
    user_id integer NOT NULL,
    location_id integer NOT NULL,
    device_password character varying,
    device_unlock_pattern character varying,
    device_account character varying,
    device_account_password character varying,
    device_initial_check json,
    customer_declined_check boolean NOT NULL
);


ALTER TABLE public.work_orders OWNER TO repara_user;

--
-- Name: work_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: repara_user
--

CREATE SEQUENCE public.work_orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.work_orders_id_seq OWNER TO repara_user;

--
-- Name: work_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: repara_user
--

ALTER SEQUENCE public.work_orders_id_seq OWNED BY public.work_orders.id;


--
-- Name: cash_accounts id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_accounts ALTER COLUMN id SET DEFAULT nextval('public.cash_accounts_id_seq'::regclass);


--
-- Name: cash_transactions id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_transactions ALTER COLUMN id SET DEFAULT nextval('public.cash_transactions_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: inventory_movements id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.inventory_movements ALTER COLUMN id SET DEFAULT nextval('public.inventory_movements_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: lost_sale_logs id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.lost_sale_logs ALTER COLUMN id SET DEFAULT nextval('public.lost_sale_logs_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.product_images ALTER COLUMN id SET DEFAULT nextval('public.product_images_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: purchase_invoice_items id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoice_items ALTER COLUMN id SET DEFAULT nextval('public.purchase_invoice_items_id_seq'::regclass);


--
-- Name: purchase_invoices id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoices ALTER COLUMN id SET DEFAULT nextval('public.purchase_invoices_id_seq'::regclass);


--
-- Name: sale_items id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sale_items ALTER COLUMN id SET DEFAULT nextval('public.sale_items_id_seq'::regclass);


--
-- Name: sales id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sales ALTER COLUMN id SET DEFAULT nextval('public.sales_id_seq'::regclass);


--
-- Name: shifts id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.shifts ALTER COLUMN id SET DEFAULT nextval('public.shifts_id_seq'::regclass);


--
-- Name: stock id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.stock ALTER COLUMN id SET DEFAULT nextval('public.stock_id_seq'::regclass);


--
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: work_order_images id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_images ALTER COLUMN id SET DEFAULT nextval('public.work_order_images_id_seq'::regclass);


--
-- Name: work_order_notes id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_notes ALTER COLUMN id SET DEFAULT nextval('public.work_order_notes_id_seq'::regclass);


--
-- Name: work_orders id; Type: DEFAULT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_orders ALTER COLUMN id SET DEFAULT nextval('public.work_orders_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.alembic_version (version_num) FROM stdin;
0acfba2a2698
\.


--
-- Data for Name: cash_accounts; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.cash_accounts (id, name, account_type, location_id) FROM stdin;
1	Caja Chica - Conocoto	CAJA_CHICA	4
2	Caja Sueltos - Conocoto	CAJA_SUELTOS	4
3	Caja Ventas - Conocoto	CAJA_VENTAS_CONOCOTO	4
\.


--
-- Data for Name: cash_transactions; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.cash_transactions (id, "timestamp", amount, description, user_id, account_id) FROM stdin;
1	2025-10-18 01:44:34.568245+00	-5.5	Compra de almuerzo	1	1
2	2025-10-18 01:44:45.089687+00	150	Reposici├│n de caja chica por Jefa	1	1
3	2025-10-20 16:41:39.228101+00	-12.5	Display a12	1	1
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.categories (id, name, description) FROM stdin;
1	Controles de Consola	Mandos y controles para videojuegos
2	ADAPTADORES	\N
3	PARLANTES	\N
4	TV STICK	\N
5	CHIPS	\N
6	TV BOX	\N
\.


--
-- Data for Name: inventory_movements; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.locations (id, name, description, parent_id) FROM stdin;
1	Matriz - Nueva Aurora	Sucursal principal	\N
2	Sucursal 1 - El Conde	Sucursal en el sector de El Conde	\N
3	Sucursal 2 - La Jota	Sucursal en el sector de La Jota	\N
4	Sucursal 3 - Conocoto	Sucursal en el Valle de los Chillos	\N
5	Bodega Matriz	Almac├®n en Nueva Aurora	1
6	Bodega El Conde	Almac├®n en El Conde	2
7	Bodega La Jota	Almac├®n en La Jota	3
8	Bodega Conocoto	Almac├®n en Conocoto	4
\.


--
-- Data for Name: lost_sale_logs; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.lost_sale_logs (id, "timestamp", product_name, reason, location_id, user_id) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.product_images (id, image_url, product_id) FROM stdin;
5	/uploads/009d72f2-4232-4ee7-a787-d1654c4f10e6.webp	8
8	/uploads/2eb8c714-c6cb-4d4c-bba7-5e70b5f4581a.jpg	9
9	/uploads/34691f11-0846-4639-87aa-3d5cbb2f8074.jpg	10
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Data for Name: purchase_invoice_items; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.purchase_invoice_items (id, quantity, cost_per_unit, invoice_id, product_id) FROM stdin;
1	20	28.5	1	1
2	50	1.75	1	2
3	5	28	2	1
4	20	1.5	2	2
\.


--
-- Data for Name: purchase_invoices; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.purchase_invoices (id, invoice_number, invoice_date, total_cost, created_at, supplier_id, user_id) FROM stdin;
1	F-001-5843	2025-10-15 00:00:00+00	657.5	2025-10-15 22:41:18.980217+00	1	1
2	FC-CONOCOTO-001	2025-10-20 00:00:00+00	170	2025-10-20 16:51:47.75701+00	1	1
\.


--
-- Data for Name: sale_items; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Data for Name: sales; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.stock (id, quantity, product_id, location_id) FROM stdin;
2	30	2	6
3	0	1	1
4	50	2	5
1	12	1	5
7	2	6	5
8	1	8	8
5	2	1	8
6	16	2	8
9	8	10	8
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.suppliers (id, name, contact_person, email, phone) FROM stdin;
1	Importadora GADGETEC	Carlos Mendoza	ventas@gadgetec.com	0998765432
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.users (id, email, hashed_password, hashed_pin, role, is_active) FROM stdin;
1	erick@reparaxpress.com	$2b$12$zHZW3cEJMOPtXxJtHqSH3OAtuGnOM8v494zjTJHEofbbvvXOH4cX6	$2b$12$g7hUOcTA1ksn2VTcW/YmQ.ksuMNSN1Lj0Ea2NJZGZRV6l9266Bufu	admin	t
3	estefano@reparaxpress.com	$2b$12$fx7bb0arABU/6Yr5IOnfh.9.C7bsmPKkFjmBfxFwOPQf6..BmS7Hi	\N	warehouse_operator	t
2	nathaly@reparaxpress.com	$2b$12$Xhr1FaXycF.HLKssJg.D6usM/JhoYje4vNYhzopDFtmCGbxIgkJ0u	$2b$12$FwnZJgPk0YGgVifNtK.EhuDsD2WYUpoInXV27NRC2GuEDSNWD9O7y	inventory_manager	t
\.


--
-- Data for Name: work_order_images; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.work_order_images (id, image_url, tag, work_order_id) FROM stdin;
\.


--
-- Data for Name: work_order_notes; Type: TABLE DATA; Schema: public; Owner: repara_user
--

COPY public.work_order_notes (id, "timestamp", note, user_id, work_order_id) FROM stdin;
1	2025-10-23 23:49:42.204083+00	Prueba 1	1	3
2	2025-10-23 23:49:56.234406+00	No se encontr├│ el repuesto	1	3
3	2025-10-23 23:50:11.279466+00	El cliente no desea pagar, precio muy alto	1	3
\.


--
-- Data for Name: work_orders; Type: TABLE DATA; Schema: public; Owner: repara_user
--



--
-- Name: cash_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.cash_accounts_id_seq', 3, true);


--
-- Name: cash_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.cash_transactions_id_seq', 3, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.categories_id_seq', 6, true);


--
-- Name: inventory_movements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.inventory_movements_id_seq', 22, true);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.locations_id_seq', 8, true);


--
-- Name: lost_sale_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.lost_sale_logs_id_seq', 1, false);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.product_images_id_seq', 9, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.products_id_seq', 10, true);


--
-- Name: purchase_invoice_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.purchase_invoice_items_id_seq', 4, true);


--
-- Name: purchase_invoices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.purchase_invoices_id_seq', 2, true);


--
-- Name: sale_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.sale_items_id_seq', 31, true);


--
-- Name: sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.sales_id_seq', 15, true);


--
-- Name: shifts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.shifts_id_seq', 56, true);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.stock_id_seq', 9, true);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.users_id_seq', 3, true);


--
-- Name: work_order_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.work_order_images_id_seq', 1, false);


--
-- Name: work_order_notes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.work_order_notes_id_seq', 3, true);


--
-- Name: work_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: repara_user
--

SELECT pg_catalog.setval('public.work_orders_id_seq', 3, true);


--
-- Name: stock _product_location_uc; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT _product_location_uc UNIQUE (product_id, location_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: cash_accounts cash_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_accounts
    ADD CONSTRAINT cash_accounts_pkey PRIMARY KEY (id);


--
-- Name: cash_transactions cash_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT cash_transactions_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: inventory_movements inventory_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: lost_sale_logs lost_sale_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.lost_sale_logs
    ADD CONSTRAINT lost_sale_logs_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: purchase_invoice_items purchase_invoice_items_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_pkey PRIMARY KEY (id);


--
-- Name: purchase_invoices purchase_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_pkey PRIMARY KEY (id);


--
-- Name: sale_items sale_items_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_pkey PRIMARY KEY (id);


--
-- Name: sales sales_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_pkey PRIMARY KEY (id);


--
-- Name: shifts shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_pkey PRIMARY KEY (id);


--
-- Name: stock stock_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: work_order_images work_order_images_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_images
    ADD CONSTRAINT work_order_images_pkey PRIMARY KEY (id);


--
-- Name: work_order_notes work_order_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_notes
    ADD CONSTRAINT work_order_notes_pkey PRIMARY KEY (id);


--
-- Name: work_orders work_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_pkey PRIMARY KEY (id);


--
-- Name: ix_cash_accounts_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_cash_accounts_id ON public.cash_accounts USING btree (id);


--
-- Name: ix_cash_accounts_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_cash_accounts_name ON public.cash_accounts USING btree (name);


--
-- Name: ix_cash_transactions_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_cash_transactions_id ON public.cash_transactions USING btree (id);


--
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- Name: ix_categories_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_categories_name ON public.categories USING btree (name);


--
-- Name: ix_inventory_movements_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_inventory_movements_id ON public.inventory_movements USING btree (id);


--
-- Name: ix_locations_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_locations_id ON public.locations USING btree (id);


--
-- Name: ix_locations_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_locations_name ON public.locations USING btree (name);


--
-- Name: ix_lost_sale_logs_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_lost_sale_logs_id ON public.lost_sale_logs USING btree (id);


--
-- Name: ix_product_images_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_product_images_id ON public.product_images USING btree (id);


--
-- Name: ix_products_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_products_id ON public.products USING btree (id);


--
-- Name: ix_products_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_products_name ON public.products USING btree (name);


--
-- Name: ix_products_sku; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_products_sku ON public.products USING btree (sku);


--
-- Name: ix_purchase_invoice_items_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_purchase_invoice_items_id ON public.purchase_invoice_items USING btree (id);


--
-- Name: ix_purchase_invoices_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_purchase_invoices_id ON public.purchase_invoices USING btree (id);


--
-- Name: ix_purchase_invoices_invoice_number; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_purchase_invoices_invoice_number ON public.purchase_invoices USING btree (invoice_number);


--
-- Name: ix_sale_items_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_sale_items_id ON public.sale_items USING btree (id);


--
-- Name: ix_sales_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_sales_id ON public.sales USING btree (id);


--
-- Name: ix_shifts_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_shifts_id ON public.shifts USING btree (id);


--
-- Name: ix_stock_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_stock_id ON public.stock USING btree (id);


--
-- Name: ix_suppliers_email; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_suppliers_email ON public.suppliers USING btree (email);


--
-- Name: ix_suppliers_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_suppliers_id ON public.suppliers USING btree (id);


--
-- Name: ix_suppliers_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_suppliers_name ON public.suppliers USING btree (name);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_work_order_images_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_work_order_images_id ON public.work_order_images USING btree (id);


--
-- Name: ix_work_order_notes_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_work_order_notes_id ON public.work_order_notes USING btree (id);


--
-- Name: ix_work_orders_customer_id_card; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_work_orders_customer_id_card ON public.work_orders USING btree (customer_id_card);


--
-- Name: ix_work_orders_customer_name; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_work_orders_customer_name ON public.work_orders USING btree (customer_name);


--
-- Name: ix_work_orders_id; Type: INDEX; Schema: public; Owner: repara_user
--

CREATE INDEX ix_work_orders_id ON public.work_orders USING btree (id);


--
-- Name: cash_accounts cash_accounts_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_accounts
    ADD CONSTRAINT cash_accounts_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: cash_transactions cash_transactions_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT cash_transactions_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.cash_accounts(id);


--
-- Name: cash_transactions cash_transactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.cash_transactions
    ADD CONSTRAINT cash_transactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: inventory_movements inventory_movements_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: inventory_movements inventory_movements_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: inventory_movements inventory_movements_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.inventory_movements
    ADD CONSTRAINT inventory_movements_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: locations locations_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.locations(id);


--
-- Name: lost_sale_logs lost_sale_logs_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.lost_sale_logs
    ADD CONSTRAINT lost_sale_logs_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: lost_sale_logs lost_sale_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.lost_sale_logs
    ADD CONSTRAINT lost_sale_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: purchase_invoice_items purchase_invoice_items_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.purchase_invoices(id);


--
-- Name: purchase_invoice_items purchase_invoice_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoice_items
    ADD CONSTRAINT purchase_invoice_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: purchase_invoices purchase_invoices_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: purchase_invoices purchase_invoices_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.purchase_invoices
    ADD CONSTRAINT purchase_invoices_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: sale_items sale_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: sale_items sale_items_sale_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sale_items
    ADD CONSTRAINT sale_items_sale_id_fkey FOREIGN KEY (sale_id) REFERENCES public.sales(id);


--
-- Name: sales sales_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: sales sales_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: sales sales_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.sales
    ADD CONSTRAINT sales_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(id);


--
-- Name: shifts shifts_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: shifts shifts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: stock stock_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: stock stock_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id);


--
-- Name: work_order_images work_order_images_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_images
    ADD CONSTRAINT work_order_images_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(id);


--
-- Name: work_order_notes work_order_notes_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_notes
    ADD CONSTRAINT work_order_notes_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: work_order_notes work_order_notes_work_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_order_notes
    ADD CONSTRAINT work_order_notes_work_order_id_fkey FOREIGN KEY (work_order_id) REFERENCES public.work_orders(id);


--
-- Name: work_orders work_orders_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: work_orders work_orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: repara_user
--

ALTER TABLE ONLY public.work_orders
    ADD CONSTRAINT work_orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict tQTEHDeVXOhoFWCpOM1HZCl1HH54WYq9weVWtMwhDWObqDCJZxo17EAu2MjKD2j

