fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary

# LIBRERÍAS SECU JAJAJA TENGO QUE COMENTARLAS PARA QUE NO SE ME OLVIDEN xD
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
python-multipart

# MIGRADOR PARA LA BASE DE DATOS!
alembic

# NUEVA LIBRERÍA PARA GENERAR PDFs
reportlab

# DETENER INTENTOS DE TOKEN - LIMITAR PETICIONES
slowapi

# HERRAMIENTA PARA MANEJAR ZONAS HORARIAS
pytz

# PROGRAMADOR DE TAREAS (CRON JOBS)
APScheduler==3.10.4

# LIBRERÍAS PARA EXCEL (REPORTES)
pandas
openpyxl

# --- HERRAMIENTAS PARA FACTURACIÓN ELECTRÓNICA SRI ECUADOR ---
lxml==5.1.0          # Para crear el archivo XML de la factura
cryptography==42.0.2 # Para manejar la firma electrónica (.p12)
zeep==4.2.1          # Para conectarse a los servidores del SRI (Web Services)